/*
See index.html for instructions.
*/

body {
  font-size: 16px;
}


#Tahoma {
  font-family: 'Tahoma', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

#Verdana {
  font-family: 'Verdana',sans-serif;
  color: #ff9933;
  margin-top: 10px;
  margin-bottom: 10px;
}
#Impact {
  font-family: 'Impact',sans-serif;
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}

#Georgia {
  font-family: 'Georgia',sans-serif;
  color: pink;
  margin-top: 10px;
  margin-bottom: 10px;
}
